@import 'fonts';
@import 'variables';

@import 'base';
@import "buttons";
@import "checkboxes";

.inner-table-layout{
  @import 'inner-table/header';
  @import 'inner-table/toolbar';
  @import 'inner-table/footer';
  @import 'inner-table/section';
  @import 'inner-table/table';
  @import 'inner-table/user';
}
//.user-layout{
//  @import 'user/header';
//  @import 'user/toolbar';
//  @import 'user/footer';
//  @import 'user/section';
//  @import 'user/table';
//  @import 'user/user';
//}
//
//.card-layout{
//  @import 'card/header';
//  @import 'card/toolbar';
//  @import 'card/footer';
//  @import 'card/section';
//  @import 'card/table';
//  @import 'card/user';
//}

.main-layout{
  @import 'main/buttons';
  @import 'main/header';
  @import 'main/toolbar';
  @import 'main/footer';
  @import 'main/menu';
  @import 'main/section';
  @import 'main/mainpage';
  @import 'main/table';
  @import 'main/content';
  @import 'main/modal';


  font-family: $font-OpenSans-Regular;
  min-width: 1280px;
  background: #f2f3f9;
  color: #373737;
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-color: transparent!important;
  }
  .nav-tabs > li > a:hover{
    border-color: transparent;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    &--start{
      justify-content: flex-start;
      align-items: flex-start;
    }
    &-1{
      flex: 1
    }
    &-2{
      flex: 2
    }
    &-3{
      flex: 3
    }
    &-4{
      flex: 4
    }
    &-5{
      flex: 5
    }
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
    &:focus{
      text-decoration: none;
      outline: none;
    }
  }
  .block-2-of-7{
    flex: 2
  }
  .block-5-of-7{
    flex: 7
  }
  .blue{color: $blue}

  .status{
    &--yellow:before{
      background: #fecd2f;
    }
    &--red:before{
      background: #ff0000;
    }
  }


}
