.header{
  background: #ffffff;
  //border-bottom: 1px solid #ddd;
  height: 75px;
  padding: 0 54px;
  .header{
    &-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
    &-logo{
      flex: 1;
    }

    &-navigation{
      //font-family: $font-SFUIText-Heavy;
      //font-size: 28px;
      //font-weight: 900;
      font-family: $font-OpenSans-Semibold;
      flex: 2;
      text-align: center;
      .menu-tabs{
        box-sizing: border-box;
        &__tab{
          text-decoration: none;
          color: #7d8097;
          display: inline-block;
          height: 72px;
          line-height: 75px;
          font-size: 14px;
          font-family: $font-OpenSans-Semibold;
          //margin-left: 10px;
          margin: 0 40px;
          &:hover{
            color: #373737;
          }
          &.active{
            color: #373737;
            border-bottom: 3px solid #29176f;
          }
        }
      }

      //.section-name{
      //  border-bottom: 3px solid $blue;
      //  box-sizing: border-box;
      //  padding: 14px 0;
      //  &__num{
      //    color: $blue;
      //  }
      //  &__name{
      //    margin-left: 10px;
      //  }
      //}

    }
    &-profile{
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      font-family: $font-SFUIText-Semibold;
      &__photo{
        border-radius: 100px;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        img{
          width: 100%;
          height: auto;
        }
      }
      &__name{
        a{
          color: #373737;
          font-family: $font-OpenSans-Semibold;
          font-size: 14px;
        }
        span{margin: 0 6px}
        &:after{
          //content: "";
          //display: inline-block;
          //vertical-align: middle;
          //background: url('../../img/arrow-grey.svg') no-repeat center center;
          //padding: 8px;
          //width: 10px;
          //height: 5px;
        }
      }
    }

  }
}