.section{
  background: transparent;
  &.section--border{
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    //для фиксированной шапки таблицы
    &.table-part{
      border-radius: 0 0 4px 4px;
    }
  }
  .section-wrapper{
    //display: flex;
    //flex-direction: column;
  }
}

//
////для фиксированной шапки таблицы
//.table-fix-header{
//  height: auto;
//  padding: 0 ;
//  background: #f7f8fa;
//
//  .table{
//    background: #fff;
//    border-bottom: none;
//    border-radius: 4px 4px 0 0;
//    thead{
//      border-bottom: none;
//    }
//  }
//}
////для фиксированной шапки таблицы - одинаковая ширина: шапка и тело таблицы
//.table-part{
//  th, td{
//    width: 20%;
//    &:nth-child(1){
//      width: 18%;
//    }
//    &:nth-child(2){
//      width: 17%;
//    }
//    &:nth-child(3){
//      width: 32%;
//    }
//    &:nth-child(4){
//      width: 33%;
//    }
//
//  }
//}