.table{
  position: relative;
  border-radius: 4px;
  border: 1px solid #ddd;
  &--noborder{
    border: none;
  }

  table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    thead{
      border-bottom: 1px solid #ddd;
      th{
        padding: 21px 29px 23px;
        .sortable{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: $grey-text-color;
          .arrows{
            margin-left: 10px;
            span{
              width: 10px;
              height: 5px;
              display: block;
              margin: 6px 10px;
              cursor: pointer;
              background: url('../../img/arrow-grey.svg') no-repeat center center;
              &:hover{
                filter: brightness(0) invert(0);
                transition: 0.2s;
              }
              &.up{
                transform: rotate(180deg);
                margin-bottom: 4px;
              }
              &.down{
                //background: url('../img/arrow-grey.svg') no-repeat center center;
              }
            }
          }
        }
      }
    }
    tbody{
      tr{
        border-bottom: 1px solid #ddd;
        //border-top: 1px solid #ddd;
        &:last-child{
          border-bottom: none;
        }
        //&:first-child{
        //  border-bottom:  1px solid #ddd;
        //}
        td{
          padding: 10px 29px;
        }
      }
    }
  }
}