.header{
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  height: 65px;
  padding: 0 40px;
  .header{
    &-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
    &-navigation{
      font-family: $font-SFUIText-Heavy;
      font-size: 28px;
      font-weight: 900;
      .section-name{
        border-bottom: 3px solid $blue;
        box-sizing: border-box;
        padding: 14px 0;
        &__num{
          color: $blue;
        }
        &__name{
          margin-left: 10px;
        }
      }

    }
    &-profile{
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      font-family: $font-SFUIText-Semibold;
      &__photo{
        border-radius: 100px;
        width: 32px;
        height: 32px;
        margin-right: 8px;
        img{
          width: 100%;
          height: auto;
        }
      }
      &__name{
        &:after{
          content: "";
          display: inline-block;
          vertical-align: middle;
          background: url('../../img/arrow-grey.svg') no-repeat center center;
          padding: 8px;
          width: 10px;
          height: 5px;
        }
      }
    }

  }
}