.green-button{
  background: $green;
  color: $white;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  //padding: 0 30px;
  //min-width: 182px;
  //text-transform: uppercase;
  font-size: 14px;
  font-family: $font-OpenSans-Semibold;
  height: 50px;
  line-height: 50px;
  //margin-left: -5px;
  padding: 0 44px;
  border-radius: 4px;
  text-align: center;




}
.action{
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3.464px 9px 0px rgba(0, 0, 0, 0.32);
    //width: 183px;
    //height: 50px;
  font-size: 14px;
  font-family: "OpenSans-Semibold";
  height: 50px;
  line-height: 50px;
  //padding: 0 24px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}