.main-section{
  //padding-top: 40px;

  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //height: 100%;
  }

}

.inner-section{
  background: #f2f3f9;
  margin-bottom: 15px;
}

.pagination{
  margin: 14px 0 0;
  border-radius: 5px;
  li{
    a{
      padding: 0;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 38px;
      font-size: 14px;
      font-family: $font-OpenSans-Semibold;
      cursor: pointer;
      border: 1px solid $white;
      border-left: 1px solid #f2f3f9;
      margin-left: 1px;
      &:first-child{
        border-left: 1px solid $white;
      }
      &:last-child{
        border-left: 1px solid $white;
      }
      color: $text-color;
      &:hover,
      &:active,
      &:focus{
        z-index: 2;
        color: $text-color;
        background-color: #eee;
        &:first-child{
          border-left: 1px solid $grey-true;
        }
        &:last-child{
          border-left: 1px solid $grey-true;
        }
        //border-color: #f2f3f9;
      }
    }
    &.active > a{
      background: #29176f;
      border-color: #29176f;
      color: $white;
    }
  }
}