extends layout/main-layout

block body

  block header
    div.inner-header
      header
        div.header-wrapper
          a.header-logo(href="/")
            img(src="/img/logo.png")
          div.header-navigation
            div.menu-tabs
              a.menu-tabs__tab(href="/marketer.html") Маркетолог
              a.menu-tabs__tab(href="/marketer-pulse.html") Пульс
              a.menu-tabs__tab.active(href="/marketer-suppliers.html") Поставщики
              a.menu-tabs__tab(href="#") Задачи
                div.counter 13

          div.header-profile
            div.header-profile__photo
              img(src="../../img/enter-icon.png")
            span.header-profile__name
              a Вход
              span /
              a Регистрация

  block toolbar
    div.inner-toolbar.grey
      div.inner-toolbar__line
        div
          div.breadcrumps.big-padding
            a(href="/") Главная
            a Маркетолог
            a Поставщики


    // старая шапка
    //div.inner-toolbar.grey.marketer
      div.inner-toolbar__line
        div
          div.breadcrumps
            a(href="/")  Главная
            a Маркетолог
            a Поставщики
          //h1.title ООО «Столплит»
        div.actions-panel
          //span.actions-panel__button.action Расширенный поиск
          span.actions-panel__button.green-button Добавить клиента
      //div.inner-toolbar__line
        div.form
          form()
            input(type="text")
            a(href="/cupboard.html").grey-button
              span Фильтр
              span.filter

  block content
    div.inner-section.section
      div.flex.pulse.suppliers
        div.flex-1
          div.block
            div.flex
              div.flex-3
                div.title ООО «ИКЕА компани»
                div.pulse-block
                  div.pulse-block__name Категория
                  div.pulse-block__title Интернет-магазин мебели и бытовой техники
              div.flex-1(style="text-align: right")
                div.pulse-block
                  div.pulse-block__img
                    img(src="/img/ikea.jpg")
                  div
                    span.status.status--red Не аккредитован
            div.pulse-block
              div.pulse-block__name ИНН / ОГРН
              div.pulse-block__title 6449013711 / 6449013711
            div.pulse-block
              div.pulse-block__name Контактное лицо
              div.pulse-block__title Константин Константинович Константинопольский
            div.pulse-block
              div.pulse-block__name Должность
              div.pulse-block__title Руководитель отдела интернет-продаж

            div.flex
              div.flex-1
                div.pulse-block
                  div.pulse-block__name Телефон
                  div.pulse-block__title +7 937 615 08 87
              div.flex-1
                div.pulse-block
                  div.pulse-block__name E-mail
                  div.pulse-block__title superstolplit@stolplit.ru
              div.flex-1

            div.flex
              div.flex-1
                div.pulse-block
                  div.pulse-block__name Товаров в продаже
                  div.pulse-block__price 5 321
              div.flex-1
                div.pulse-block
                  div.pulse-block__name Добавлено в систему
                  div.pulse-block__price 5 300
              div.flex-1
                div.pulse-block
                  div.pulse-block__name В обработке
                  div.pulse-block__price 21

            div.pulse-block
              div.pulse-block__button
                button Подробная информация





              //div.pulse-block.pulse-block--small
              //  div.pulse-block__name По сравнению с прошлой неделей
              //  div.pulse-block__price 3 191 234
              //    span р.
              //    span.success 45,1%

          div.block
           div.subtitle Задачи по компании
           div.pulse-block
              div.pulse-block__task
                div.task.flex.flex--start
                  label.checked.checked--green
                    input.checkbox(type="checkbox")
                    span
                  p Задача 3 Отправить маркетинговые материалы
                div.task.flex.flex--start
                  label.checked.checked--green
                    input.checkbox(type="checkbox" )
                    span
                  p Задача 2 Внести данные в систему
                div.task.flex.flex--start
                  label.checked.checked--green
                    input.checkbox(type="checkbox" checked)
                    span
                  p Задача 1 Позвонить предстваителю заказчика
           div.pulse-block
             div.pulse-block__button(style="margin-top: 64px")
               button Все задачи

          div.block
            div.subtitle Последние сделки
            div.pulse-block
              div.pulse-block__task
                div.task
                  p Майкопская 2 городская больница номер 28 от 02.08.17
                div.task
                  p Майкопская 2 городская больница номер 28 от 02.08.17
                div.task
                  p Майкопская 2 городская больница номер 28 от 02.08.17
            div.pulse-block
              div.pulse-block__button(style="margin-top: 64px")
                button Все задачи

        div.flex-1
          div.block-title--without-block Подключение поставщика к системе
          div.block.block--transparent.no-padding.flex
            div.brick.brick--success
              div.brick-wrapper
                div.brick-icon
                  img(src="/img/step1.png")
                div.brick-step Шаг 1
                div.brick-action Позвонить и ознакомить с системой

            div.brick.brick--current
              div.brick-wrapper
                div.brick-icon
                  img(src="/img/step2.png")
                div.brick-step Шаг 2
                div.brick-action Выслать коммерческое предложение
            div.brick
              div.brick-wrapper
                div.brick-icon
                  img(src="/img/step3.png")
                div.brick-step Шаг 3
                div.brick-action Зарегистрировать в системе
            div.brick
              div.brick-wrapper
                div.brick-icon
                  img(src="/img/step4.png")
                div.brick-step Шаг 4
                div.brick-action Провести поставку через систему

          div.block
            div.subtitle.no-margin Новая запись
            textarea.small
            div.pulse-block.no-padding
              div.pulse-block__button.green.no-margin
                button Написать
            div.subtitle История изменений
            div.post-blocks
              div.post-block
                div.post-block__title.flex
                  div.flex
                    div.img
                      img(src="/img/post-img.png")
                    div.name Андрей Матвеев
                  div.date 26.01.2018
                div.post-block__text
                  div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at dictum lorem. Quisque commodo eros vitae est dignissim, fringilla tristique metus aliquet. Praesent vitae risus vel tortor mollis feugiat vel vel leo. Curabitur dictum semper turpis eu viverra. Praesent id quam quis ex laoreet interdum. Suspendisse dapibus tortor ultricies lectus rhoncus, id posuere ligula lacinia. Donec vitae nibh nisl.

              div.post-block
                div.post-block__title.flex
                  div.flex
                    div.img
                      img(src="/img/post-img.png")
                    div.name Андрей Матвеев
                  div.date 26.01.2018
                div.post-block__text
                  div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at dictum lorem. Quisque commodo eros vitae est dignissim, fringilla tristique metus aliquet. Praesent vitae risus vel tortor mollis feugiat vel vel leo. Curabitur dictum semper turpis eu viverra. Praesent id quam quis ex laoreet interdum. Suspendisse dapibus tortor ultricies lectus rhoncus, id posuere ligula lacinia. Donec vitae nibh nisl.


            div.pulse-block(style="margin-top: 0")
              div.pulse-block__button
                button Смотреть все


  block footer
    footer.inner-footer
      div.inner-footer__wrapper
        div.inner-footer__left
          div.main-page__footer-block
            a.bold.bold--no-border +7 843 111-11-11
            div.grey круглосуточно

          div.main-page__footer-block
            a.bold Реестры
            div.grey каталоги

          div.main-page__footer-block
            a.bold(href="#") Обучение и онлайн семинары
            div.grey узнайте расписание мероприятий

          div.main-page__footer-block
            a.bold(href="#") Участникам
            div.grey полезные материалы

          div.main-page__footer-block
            a.bold(href="#") Все контакты


        div.inner-footer__right
          div
            div.main-page__footer-block.social
              a.social__button.vk(href="#")
              a.social__button.telegram(href="#")
              a.social__button.phone(href="#")

              a.questions Частые вопросы

              //div.main-page__footer-block
                a.questions Частые вопросы







append scripts
  //script(src = 'js/script.js')

