extends layout/main-layout

block body

  block header
    div.inner-header
      header
        div.header-wrapper
          a.header-logo(href="/")
            img(src="/img/logo.png")
          div.header-navigation
            div.menu-tabs
              a.menu-tabs__tab.active(href="#") Закупки
              a.menu-tabs__tab(href="#") Продажи
              a.menu-tabs__tab(href="#") Аналитика
              a.menu-tabs__tab(href="#") Информация

          //div.header-profile
            div.header-profile__photo--login
              img(src="../../img/user.svg")
            span.header-profile__name--login Константин К.
          div.header-profile
            div.header-profile__photo
              img(src="../../img/enter-icon.png")
            span.header-profile__name
              a Вход
              span /
              a Регистрация



  block toolbar
    div.inner-toolbar.grey
      div.inner-toolbar__line
        div
          div.breadcrumps.big-padding
            a(href="/") Главная
            a(href="/cupboard.html") Закупки
            a Поиск

  block content
    div.inner-section.section
      div.content
        div.content-block
          div.content-block__left
            div.title Верди СБ-1437 Шкаф 3-х дверный
            div.subtitle
              div Тикер
                span.blue 0201-2017-00009
              div Поставщик:
                span.blue ООО «Столплит»
            div.product
              div.product-img
                img(src="/img/cupboard.jpg")
              div.product-info
                p Очень вместительный и стильный шкаф для одежды. Он отличается впечатляющей вместительностью и элегантностью дизайна. Такой шкаф может заменить собой гардеробную комнату. В нем есть отделение для вешалок, полки для одежды и белья, а также выдвижные ящики и зеркало. Качественная фурнитура дополняет шкаф. Его цвет  — «мара махагон».
                p.description Характеристики:
                div.description-param
                  p
                    span.width Ширина
                    span 1318 мм
                  p
                    span.width Высота
                    span 2190 мм
                  p
                    span.width Глубина
                    span 580 мм
                  p
                    span.width Вес (НЕТТО)
                    span 134.2 кг
                p.description Цвет: Махагон
                a.description.blue Подробные характеристики

          div.content-block__right
            div.actions
              div.actions__buttons Отложить
              div.actions__buttons Сравнить
            div.actions
              div
                span.status Аккредитованный поставщик
            div.zayavka
              div.price 19 770 р.
              button.green-button(type="button" data-toggle="modal" data-target="#basicModal") Хочу заказать
              .info
                div Зарегистрируйте учетную запись
                div для совершения покупок
        br
        div.content-block-info
          ul.nav.nav-tabs
            li.nav-tabs__tab.active
              a(href='#home', data-toggle='tab') Характеристики
            li.nav-tabs__tab
              a(href='#profile', data-toggle='tab') О поставщике
            li.nav-tabs__tab
              a(href='#messages', data-toggle='tab') Отзывы
          .tab-content
            #home.tab-pane.active
              div.flex
                div.flex-left
                  div.description.description-param
                    p
                      span.width Ширина
                      span 1318 мм
                    p
                      span.width Высота
                      span 2190 мм
                    p
                      span.width Глубина
                      span 580 мм
                    p
                      span.width Вес (НЕТТО)
                      span 134.2 кг
                  p.description Цвет: Махагон
                  div.description
                    p Основные части: ДСП, Пленка
                    p Верхняя панель/ Обвязка двери: ДСП, Пленка, Пластмасса АБС
                    p Задняя часть цоколя: ДСП
                    p Задняя панель: ДВП, Акриловая краска (печатный рисунок), Пленка
                    p Дверная панель: ДВП, Пленка
                    p Зеркальная часть: Стекло
                div.flex-left
                  div.description
                    p Зеркальную дверцу можно расположить слева, справа или в центре.
                    p Зеркальная дверца – нет необходимости в отдельном напольном или настенном зеркале.
                    p Съемные полки позволяют регулировать внутреннее пространство в соответствии с потребностями хранения.
                    p Организуйте внутреннее пространство с помощью аксессуаров серии СКУББ, и порядок обеспечен.
                    p Регулируемые петли обеспечивают правильную фиксацию дверцы.

                  div.description
                    p Полезная информация
                    p ВНИМАНИЕ! ОПАСНОСТЬ ОПРОКИДЫВАНИЯ! Незакрепленная мебель может опрокинуться. Эту мебель необходимо крепить к стене с помощью прилагаемого крепежа для предотвращения
                div.flex-right
            #profile.tab-pane 21231
            #messages.tab-pane ...
          //div.content__left 1
          //div.content__right 2




  block footer
    footer.inner-footer
      div.inner-footer__wrapper
        div.inner-footer__left
          div.main-page__footer-block
            a.bold.bold--no-border +7 843 111-11-11
            div.grey круглосуточно

          div.main-page__footer-block
            a.bold Реестры
            div.grey каталоги

          div.main-page__footer-block
            a.bold(href="#") Обучение и онлайн семинары
            div.grey узнайте расписание мероприятий

          div.main-page__footer-block
            a.bold(href="#") Участникам
            div.grey полезные материалы

          div.main-page__footer-block
            a.bold(href="#") Все контакты


        div.inner-footer__right
          div
            div.main-page__footer-block.social
              a.social__button.vk(href="#")
              a.social__button.telegram(href="#")
              a.social__button.phone(href="#")

              a.questions Частые вопросы

              //div.main-page__footer-block
                a.questions Частые вопросы




  block modal
    #basicModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.btn.btn-default#close(type='button', data-dismiss='modal') Закрыть
            h4#myModalLabel.modal-title Регистрация
            //button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            //h3 Modal Body
            div.label-block
              span.bold ФИО
              span Константин Константинович
            div.label-block
              span.bold Телефон
              span +7 937 615 08 87
            div.label-block
              span.bold E-mail
              span konstantinopolskiy@gmail.com
            div.label-block
              span.bold ИНН
              span 6449013711
            div.account Тип аккаунта
            div.flex
              span.account-button Заказчик
              span.account-button Поставщик
          .modal-footer
            button.btn.btn-primary#login(href="/cupboard-one.html" data-dismiss='modal') Зарегистрироваться
            div.agreement
              p Нажимая кнопку "Зарегистрироваться", вы даете согласие на обработку персональных данных и активизируте гостевой аккаунт. Для заверншения регистрации с вами свяжется персональный менеджер.


append scripts
  //script(src = 'js/script.js')

