extends layout/main-layout

block body

  block header
    div.inner-header
      header
        div.header-wrapper
          a.header-logo(href="/")
            img(src="/img/logo.png")
          div.header-navigation
            div.menu-tabs
              a.menu-tabs__tab.active(href="#") Закупки
              a.menu-tabs__tab(href="#") Продажи
              a.menu-tabs__tab(href="#") Аналитика
              a.menu-tabs__tab(href="#") Информация

          div.header-profile
            div.header-profile__photo
              img(src="../../img/enter-icon.png")
            span.header-profile__name
              a Вход
              span /
              a Регистрация
    //header.inner-header
      nav.navbar.navbar-default(role='navigation')
        .container-fluid
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') Лого
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.col-xs-4
              //li.active
              //  a(href='#') Ссылка
              //li
              //  a(href='#') Ссылка
              //li.dropdown
              //  a.dropdown-toggle(href='#', data-toggle='dropdown')
              //    | Dropdown
              //    b.caret
              //  ul.dropdown-menu
              //    li
              //      a(href='#') Действие
              //    li
              //      a(href='#') Другое действие
              //    li
              //      a(href='#') Что-то еще
              //    li.divider
              //    li
              //      a(href='#') Отдельная ссылка
              //    li.divider
              //    li
              //      a(href='#') Еще одна отдельная ссылка
            //ul.navbar-form.navbar-right.col-xs-4(role='search')
              button.btn.btn-default(type='submit') Вход
              button.btn.btn-default(type='submit') Регистрация
            ul.nav.navbar-nav.col-xs-4
              li
                a(href='#') Закупки
              li
                a(href='#') Продажи
              li
                a(href='#') Аналитика
              li
                a(href='#') Информация
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#') Вход
              li
                a(href='#') Регистрация


  block toolbar
    div.inner-toolbar
      div.inner-toolbar__line
        div
          div.breadcrumps
            a(href="/")  Главная
            a Закупки
          h1.title Каталог предложений
        div.actions-panel
          span.actions-panel__button.action Расширенный поиск
          span.actions-panel__button.green-button Новый поиск
      div.inner-toolbar__line
        div.form
          form()
            input(type="text")
            a(href="/cupboard.html").grey-button
              span Фильтр
              span.filter

  block content
    div.inner-section.section
      div.table.table--procurement
        table
          thead
            th
              div.check №
            th
              label.checked
                input.checkbox(type="checkbox")
                span
            th
            th
              div.sortable
                div Наименование
                div.arrows
                  span.down
            th
              div.sortable
                div Поставщик
                div.arrows
                  span.down
            th
              div.sortable
                div Цена
                div.arrows
                  span.down
            th
              div.sortable
                div Статус
                div.arrows
                  span.down
            th
          tbody
            tr
              td
                div.check 1
              td
                label.checked
                  input.checkbox(type="checkbox")
                  span
              td
                div.img
                  img(src="../../img/products/prod1.jpeg")
              td
                div.product-name Мамбо СБ-2676 Шкаф 3-х дверный
              td ООО «Столплит»
              td
                div.price 7 889 р.
              td
                div
                  span.status Аккредитован
                  //span Frnbdty
              td
                div
                  a.green-button(href="/cupboard-one.html") Заказать
            tr
              td
                div.check 2
              td
                label.checked
                  input.checkbox(type="checkbox")
                  span
              td
                div.img
                  img(src="../../img/products/prod2.jpeg")
              td
                div.product-name Мамбо СБ-2676 Шкаф 3-х дверный
              td ООО «Столплит»
              td
                div.price 7 889 р.
              td
                div
                  span.status Аккредитован
                  //span Frnbdty
              td
                div
                  a.green-button(href="/cupboard-one.html") Заказать
            tr
              td
                div.check 3
              td
                label.checked
                  input.checkbox(type="checkbox")
                  span
              td
                div.img
                  img(src="../../img/products/prod3.jpeg")
              td
                div.product-name Мамбо СБ-2676 Шкаф 3-х дверный
              td ООО «Столплит»
              td
                div.price 7 889 р.
              td
                div
                  span.status Аккредитован
                  //span Frnbdty
              td
                div
                  a.green-button(href="/cupboard-one.html") Заказать
            tr
              td
                div.check 4
              td
                label.checked
                  input.checkbox(type="checkbox")
                  span
              td
                div.img
                  img(src="../../img/products/prod4.jpeg")
              td
                div.product-name Мамбо СБ-2676 Шкаф 3-х дверный
              td ООО «Столплит»
              td
                div.price 7 889 р.
              td
                div
                  span.status Аккредитован
                  //span Frnbdty
              td
                div
                  a.green-button(href="/cupboard-one.html") Заказать
            tr
              td
                div.check 5
              td
                label.checked
                  input.checkbox(type="checkbox")
                  span
              td
                div.img
                  img(src="../../img/products/prod5.jpeg")
              td
                div.product-name Мамбо СБ-2676 Шкаф 3-х дверный
              td ООО «Столплит»
              td
                div.price 7 889 р.
              td
                div
                  span.status Аккредитован
                  //span Frnbdty
              td
                div
                  a.green-button(href="/cupboard-one.html") Заказать
            tr
              td
                div.check 6
              td
                label.checked
                  input.checkbox(type="checkbox")
                  span
              td
                div.img
                  img(src="../../img/products/prod2.jpeg")
              td
                div.product-name Мамбо СБ-2676 Шкаф 3-х дверный
              td ООО «Столплит»
              td
                div.price 7 889 р.
              td
                div
                  span.status Аккредитован
                  //span Frnbdty
              td
                div
                  a.green-button(href="/cupboard-one.html") Заказать


      div
        ul.pagination
          li.disable
            a &laquo;
          li.active
            a 1
              //span.sr-only (current)
          li
            a 2
          li
            a 3
          li
            a 4
          li
            a 5
          li
            a &raquo;


  block footer
    footer.inner-footer
      div.inner-footer__wrapper
        div.inner-footer__left
          div.main-page__footer-block
            a.bold.bold--no-border +7 843 111-11-11
            div.grey круглосуточно

          div.main-page__footer-block
            a.bold Реестры
            div.grey каталоги

          div.main-page__footer-block
            a.bold(href="#") Обучение и онлайн семинары
            div.grey узнайте расписание мероприятий

          div.main-page__footer-block
            a.bold(href="#") Участникам
            div.grey полезные материалы

          div.main-page__footer-block
            a.bold(href="#") Все контакты


        div.inner-footer__right
          div
            div.main-page__footer-block.social
              a.social__button.vk(href="#")
              a.social__button.telegram(href="#")
              a.social__button.phone(href="#")

              a.questions Частые вопросы

              //div.main-page__footer-block
                a.questions Частые вопросы







append scripts
  //script(src = 'js/script.js')

