extends layout/main-layout

block body

  block header
    header.main-header
      div.main-header__wrapper
        div.block-2-of-7
          a.menu-icon
        div.block-5-of-7
          img.main-header__logo(src="/img/logo.png")

      //div.container-fluid
        div.row
          div.col-xs-2
            a.menu-icon
          div.col-xs-10
            img.main-header__logo(src="/img/logo.png")


  block content
    div.main-section
      div.main-section__wrapper
        div.block-2-of-7.menu
          ul.nav.nav--standart
            li
              a Заявки
            li
              a Информация
            li
              a Реестры
            li
              a Участникам
            li
              a Услуги
            li
              a Реестр контрактов
          ul.nav.nav--big
            li
              a(href="/cupboard.html") Закупки
            li
              a Продажи
            li
              a Аналитика
          ul.nav.nav--small
            li
              a.log-in Вход в систему
            li
              a.registration Регистрация

          //div.nav--small__title Тестовый доступ:
          //ul.nav.nav--small
          //  li
          //    a Маркетолог
          //  li
          //    a Сэмплер
        div.block-5-of-7.main-page
          div.title.title--big
            div 4000 товаров в день
            br
            div проходят на торговой
            br
            div площадке
          div.form
            form()
              input(type="text")
              a(href="/cupboard.html").green-button Найти товар








      //div.container-fluid
      //  div.row
      //    div.col-xs-2.menu
      //      ul.nav.nav--standart
      //        li
      //          a Заявки
      //        li
      //          a Информация
      //        li
      //          a Реестры
      //        li
      //          a Участникам
      //        li
      //          a Услуги
      //        li
      //          a Реестр контрактов
      //      ul.nav.nav--big
      //        li
      //          a Закупки
      //        li
      //          a Продажи
      //        li
      //          a Аналитика
      //      ul.nav.nav--small
      //        li
      //          a Вход в систему
      //        li
      //          a Регистрация
      //
      //      div.nav--small__title Тестовый доступ:
      //      ul.nav.nav--small
      //        li
      //          a Маркетолог
      //        li
      //          a Сэмплер
      //
      //
      //
      //    div.col-xs-10.main-page
      //      div.title.title--big
      //        div 4000 товаров в день
      //        br
      //        div проходят на торговой
      //        br
      //        div площадке
      //      div.form
      //        form()
      //          input(type="text")
      //          a(href="/cupboard.html").green-button Найти товар



      //ul Меню
        li
          a(href="./card.html") Карточка много строк
        li
          a(href="./card-small.html") Карточка мало строк
        li
          a(href="./user.html") Личный кабинет

  block footer
    footer.main-footer
      div.main-footer__wrapper
        div.block-2-of-7.footer-nav
          div.nav--small__title Тестовый доступ:
          ul.nav.nav--small
            li
              a.market(href="/marketer-pulse.html") Маркетолог
            li
              a.sampler(href="/sampler.html") Сэмплер

        div.block-5-of-7.main-page__footer
          div.col-xs-9
            div.col-xs-3
              div.col-xs-12.main-page__footer-block
                a.bold.bold--no-border +7 843 111-11-11
                div.grey круглосуточно
              div.col-xs-12.main-page__footer-block
                a.bold.bold--no-border(href="#") Все контакты

            div.col-xs-3
              div.col-xs-12.main-page__footer-block
                a.bold Реестры
                div.grey каталоги
              div.col-xs-12.main-page__footer-block
                a.bold(href="/index-shema.html") Участникам
                div.grey полезные материалы
            div.col-xs-6
              div.col-xs-12.main-page__footer-block
                a.bold(href="#") Обучение и онлайн семинары
                div.grey узнайте расписание мероприятий


          div.col-xs-3
            div.col-xs-12.main-page__footer-block.social
              a.social__button.vk(href="#")
              a.social__button.telegram(href="#")
              a.social__button.phone(href="#")

            div.col-xs-12.main-page__footer-block
              a.questions Частые вопросы

      //div.container-fluid
      //  div.row
      //    div.col-xs-2 Меню
      //    div.col-xs-10.main-page__footer
      //      div.col-xs-9
      //        div.col-xs-3
      //          div.col-xs-12.main-page__footer-block
      //            a.bold.bold--no-border +7 843 111-11-11
      //            div.grey круглосуточно
      //          div.col-xs-12.main-page__footer-block
      //            a.bold.bold--no-border(href="#") Все контакты
      //
      //        div.col-xs-3
      //          div.col-xs-12.main-page__footer-block
      //            a.bold Реестры
      //            div.grey каталоги
      //          div.col-xs-12.main-page__footer-block
      //            a.bold(href="#") Участникам
      //            div.grey полезные материалы
      //        div.col-xs-6
      //          div.col-xs-12.main-page__footer-block
      //            a.bold(href="#") Обучение и онлайн семинары
      //            div.grey узнайте расписание мероприятий
      //
      //
      //      div.col-xs-3
      //        div.col-xs-12.main-page__footer-block.social
      //          a.social__button.vk(href="#")
      //          a.social__button.telegram(href="#")
      //          a.social__button.phone(href="#")
      //
      //        div.col-xs-12.main-page__footer-block
      //          a.questions Частые вопросы






append scripts
  //script(src = 'js/script.js')

