extends layout/main-layout

block body

  block header
    div.inner-header
      header
        div.header-wrapper
          a.header-logo(href="/")
            img(src="/img/logo.png")
          div.header-navigation
            div.menu-tabs
              a.menu-tabs__tab.active(href="/marketer.html") Маркетолог
              a.menu-tabs__tab(href="/marketer-pulse.html") Пульс
              a.menu-tabs__tab(href="/marketer-suppliers.html") Поставщики
              a.menu-tabs__tab(href="#") Задачи
                div.counter 13

          div.header-profile
            div.header-profile__photo
              img(src="../../img/enter-icon.png")
            span.header-profile__name
              a Вход
              span /
              a Регистрация

  block toolbar
    div.inner-toolbar.grey
      div.inner-toolbar__line
        div
          div.breadcrumps.big-padding
            a(href="/")  Главная
            a Маркетолог
          h1.title Внешние закупки


    // старая шапка
    //div.inner-toolbar.grey.marketer
      div.inner-toolbar__line
        div
          div.breadcrumps
            a(href="/")  Главная
            a Маркетолог
            a Поставщики
          //h1.title ООО «Столплит»
        div.actions-panel
          //span.actions-panel__button.action Расширенный поиск
          span.actions-panel__button.green-button Добавить клиента
      //div.inner-toolbar__line
        div.form
          form()
            input(type="text")
            a(href="/cupboard.html").grey-button
              span Фильтр
              span.filter

  block content
    div.inner-section.section
      div.table.table--procurement-external
        table
          thead
            th
              div.check №
            th
              div.sortable
                div Наименование
                div.arrows
                  span.down
            th
              div.sortable
                div Поставщик
                div.arrows
                  span.down
            th
              div.sortable
                div Площадка
                div.arrows
                  span.down
            th
              div.sortable
                div Сумма
                div.arrows
                  span.down
            th
              div.sortable
                div Статус
                div.arrows
                  span.down
            th
          tbody
            tr
              td
                div.check 1

              td
                div.product-name Шкаф 3-х дверный Апперкот
              td ООО «Икеа компани»
              td www.ikea.ru
              td
                div.price 7 290 р.
              td
                div
                  span.status.status--red Не аккредитован
              td
                div
                  a.green-button.square(href="/add-suppliers.html") +
            tr
              td
                div.check 1

              td
                div.product-name Мамбо СБ-2676 Шкаф 3-х дверный
              td ООО «Столплит»
              td www.stolplit.ru
              td
                div.price 7 290 р.
              td
                div
                  span.status Аккредитован
              td
                div
                  //a.green-button.square(href="/add-suppliers.html") +
            tr
              td
                div.check 1

              td
                div.product-name Мамбо СБ-2676 Шкаф 3-х дверный
              td ООО «Столплит»
              td www.stolplit.ru
              td
                div.price 7 290 р.
              td
                div
                  span.status Аккредитован
              td
                div
                  //a.green-button.square(href="/add-suppliers.html") +
            tr
              td
                div.check 1

              td
                div.product-name Мамбо СБ-2676 Шкаф 3-х дверный
              td ООО «Столплит»
              td www.stolplit.ru
              td
                div.price 7 290 р.
              td
                div
                  span.status Аккредитован
              td
                div
                  //a.green-button.square(href="/add-suppliers.html") +
            tr
              td
                div.check 1

              td
                div.product-name Шкаф 3-х дверный Апперкот
              td ООО «Икеа компани»
              td www.ikea.ru
              td
                div.price 7 290 р.
              td
                div
                  span.status.status--red Не аккредитован
              td
                div
                  a.green-button.square(href="/add-suppliers.html") +
            tr
              td
                div.check 1

              td
                div.product-name Мамбо СБ-2676 Шкаф 3-х дверный
              td ООО «Столплит»
              td www.stolplit.ru
              td
                div.price 7 290 р.
              td
                div
                  span.status Аккредитован
              td
                div
                  //a.green-button.square(href="/add-suppliers.html") +
            tr
              td
                div.check 1

              td
                div.product-name Шкаф 3-х дверный Апперкот
              td ООО «Икеа компани»
              td www.ikea.ru
              td
                div.price 7 290 р.
              td
                div
                  span.status.status--red Не аккредитован
              td
                div
                  a.green-button.square(href="/add-suppliers.html") +
            tr
              td
                div.check 1

              td
                div.product-name Мамбо СБ-2676 Шкаф 3-х дверный
              td ООО «Столплит»
              td www.stolplit.ru
              td
                div.price 7 290 р.
              td
                div
                  span.status Аккредитован
              td
                div
                  //a.green-button.square(href="/add-suppliers.html") +
            tr
              td
                div.check 1

              td
                div.product-name Мамбо СБ-2676 Шкаф 3-х дверный
              td ООО «Столплит»
              td www.stolplit.ru
              td
                div.price 7 290 р.
              td
                div
                  span.status Аккредитован
              td
                div
                  //a.green-button.square(href="/add-suppliers.html") +
            tr
              td
                div.check 1

              td
                div.product-name Мамбо СБ-2676 Шкаф 3-х дверный
              td ООО «Столплит»
              td www.stolplit.ru
              td
                div.price 7 290 р.
              td
                div
                  span.status Аккредитован
              td
                div
                  //a.green-button.square(href="/add-suppliers.html") +


  block footer
    footer.inner-footer
      div.inner-footer__wrapper
        div.inner-footer__left
          div.main-page__footer-block
            a.bold.bold--no-border +7 843 111-11-11
            div.grey круглосуточно

          div.main-page__footer-block
            a.bold Реестры
            div.grey каталоги

          div.main-page__footer-block
            a.bold(href="#") Обучение и онлайн семинары
            div.grey узнайте расписание мероприятий

          div.main-page__footer-block
            a.bold(href="#") Участникам
            div.grey полезные материалы

          div.main-page__footer-block
            a.bold(href="#") Все контакты


        div.inner-footer__right
          div
            div.main-page__footer-block.social
              a.social__button.vk(href="#")
              a.social__button.telegram(href="#")
              a.social__button.phone(href="#")

              a.questions Частые вопросы

              //div.main-page__footer-block
                a.questions Частые вопросы







append scripts
  //script(src = 'js/script.js')

