extends layout/main-layout

block body

  block header
    div.inner-header
      header
        div.header-wrapper
          a.header-logo(href="/")
            img(src="/img/logo.png")
          div.header-navigation
            div.menu-tabs
              a.menu-tabs__tab(href="/marketer.html") Маркетолог
              a.menu-tabs__tab.active(href="/marketer-pulse.html") Пульс
              a.menu-tabs__tab(href="/marketer-suppliers.html") Поставщики
              a.menu-tabs__tab(href="#") Задачи
                div.counter 13

          div.header-profile
            div.header-profile__photo
              img(src="../../img/enter-icon.png")
            span.header-profile__name
              a Вход
              span /
              a Регистрация

  block toolbar
    div.inner-toolbar.grey.marketer
      div.inner-toolbar__line
        div
          div.breadcrumps
            a(href="/")  Главная
            a Маркетолог
          h1.title Пульс
        div.actions-panel
          //span.actions-panel__button.action Расширенный поиск
          span.actions-panel__button.green-button Добавить клиента
      //div.inner-toolbar__line
        div.form
          form()
            input(type="text")
            a(href="/cupboard.html").grey-button
              span Фильтр
              span.filter

  block content
    div.inner-section.section
      div.flex.pulse
        div.flex-3
          div.block
            div.pulse-block
              div.pulse-block__name Продаж за неделю
              div.pulse-block__price 5 490 576 р.
            div.pulse-block.pulse-block--small
              div.pulse-block__name По сравнению с прошлой неделей
              div.pulse-block__price 3 191 234
                span р.
                span.success 45,1%

          div.block
            div.pulse-block.flex
              div.pulse-block__title График 1
              div.pulse-block__button
                button Вся информация
            div.pulse-block.pulse-block--small
              div.pulse-block__graph
                img(src="/img/graph1.png")

          div.block
            div.pulse-block.flex
              div.pulse-block__title Лучшие поставщики
                div.pulse-block__name На этой неделе
              div.pulse-block__button
                button Вся информация
            div.pulse-block.pulse-block--table
              div.pulse-block__line.flex
                div.pulse-block__line-img
                  //img(src="/img/graph1.png")
                div.pulse-block__price 1191 234
                  span р.
              div.pulse-block__line.flex
                div.pulse-block__line-img
                  //img(src="/img/graph1.png")
                div.pulse-block__price 250 234
                  span р.
              div.pulse-block__line.flex
                div.pulse-block__line-img
                  //img(src="/img/graph1.png")
                div.pulse-block__price 250 234
                  span р.
              div.pulse-block__line.flex
                div.pulse-block__line-img
                  //img(src="/img/graph1.png")
                div.pulse-block__price 250 234
                  span р.
              div.pulse-block__line.flex
                div.pulse-block__line-img
                  //img(src="/img/graph1.png")
                div.pulse-block__price 250 234
                  span р.


        div.flex-3
          div.block
            div.pulse-block
              div.pulse-block__name Добавлено товаров
              div.pulse-block__price 5 490 шт.
            div.pulse-block.pulse-block--small
              div.pulse-block__name По сравнению с прошлой неделей
              div.pulse-block__price 3 191 234
                span р.
                span.fail 50,2%

          div.block
            div.pulse-block.flex
              div.pulse-block__title График 2
              div.pulse-block__button
                button Вся информация
            div.pulse-block.pulse-block--small
              div.pulse-block__graph
                img(src="/img/graph2.png")

          div.block
            div.pulse-block.flex
              div.pulse-block__title Лучшие товары
                div.pulse-block__name На этой неделе
              div.pulse-block__button
                button Вся информация
            div.pulse-block.pulse-block--table
              div.pulse-block__line.flex
                div.pulse-block__line-img.pulse-block__line-img--small
                div.pulse-block__line-product Мамбо СБ-2676 Шкаф 3-х дверный
                  //img(src="/img/graph1.png")
                div.pulse-block__price 234
                  span шт.
              div.pulse-block__line.flex
                div.pulse-block__line-img.pulse-block__line-img--small
                div.pulse-block__line-product Мамбо СБ-2676 Шкаф 3-х дверный
                  //img(src="/img/graph1.png")
                div.pulse-block__price 234
                  span шт.
              div.pulse-block__line.flex
                div.pulse-block__line-img.pulse-block__line-img--small
                div.pulse-block__line-product Мамбо СБ-2676 Шкаф 3-х дверный
                  //img(src="/img/graph1.png")
                div.pulse-block__price 234
                  span шт.
              div.pulse-block__line.flex
                div.pulse-block__line-img.pulse-block__line-img--small
                div.pulse-block__line-product Мамбо СБ-2676 Шкаф 3-х дверный
                  //img(src="/img/graph1.png")
                div.pulse-block__price 234
                  span шт.
              div.pulse-block__line.flex
                div.pulse-block__line-img.pulse-block__line-img--small
                div.pulse-block__line-product Мамбо СБ-2676 Шкаф 3-х дверный
                  //img(src="/img/graph1.png")
                div.pulse-block__price 234
                  span шт.


        div.flex-2.last-added
          div.block-title.block-title--without-block Последние добавленные
          div.block.flex
            div.product-block
              div.product-block__title БД9345200012
              div.product-block__description 19.5" Моноблок Lenovo IdeaCenter AIO 310-20IAP
            div.product-block
              div.product-block__img
                //img()
              div.product-block__price 21 290 р.
          div.block.flex
            div.product-block
              div.product-block__title БД9345200012
              div.product-block__description 19.5" Моноблок Lenovo IdeaCenter AIO 310-20IAP
            div.product-block
              div.product-block__img
                //img()
              div.product-block__price 21 290 р.



  block footer
    footer.inner-footer
      div.inner-footer__wrapper
        div.inner-footer__left
          div.main-page__footer-block
            a.bold.bold--no-border +7 843 111-11-11
            div.grey круглосуточно

          div.main-page__footer-block
            a.bold Реестры
            div.grey каталоги

          div.main-page__footer-block
            a.bold(href="#") Обучение и онлайн семинары
            div.grey узнайте расписание мероприятий

          div.main-page__footer-block
            a.bold(href="#") Участникам
            div.grey полезные материалы

          div.main-page__footer-block
            a.bold(href="#") Все контакты


        div.inner-footer__right
          div
            div.main-page__footer-block.social
              a.social__button.vk(href="#")
              a.social__button.telegram(href="#")
              a.social__button.phone(href="#")

              a.questions Частые вопросы

              //div.main-page__footer-block
                a.questions Частые вопросы







append scripts
  //script(src = 'js/script.js')

