extends layout/main-layout

block body

  block header
    div.inner-header
      header
        div.header-wrapper
          a.header-logo(href="/")
            img(src="/img/logo.png")
          div.header-navigation
            div.menu-tabs
              a.menu-tabs__tab(href="#") Сэмплер
              a.menu-tabs__tab(href="#") Задачи
                div.counter 13
              a.menu-tabs__tab.active(href="#") Каталог товаров
              a.menu-tabs__tab(href="#") Информация


          div.header-profile
            div.header-profile__photo
              img(src="../../img/enter-icon.png")
            span.header-profile__name
              a Вход
              span /
              a Регистрация

  block toolbar
    div.inner-toolbar.grey.marketer
      div.inner-toolbar__line
        div
          div.breadcrumps
            a(href="/")  Главная
            a Сэмплер
            a Каталог товаров
          h1.title Добавление товара
        div.actions-panel
          span.actions-panel__button.action Завершить
          span.actions-panel__button.green-button Сохранить


  block content
    div.inner-section.section.sampler
      div.flex.pulse
        div.flex-1
          div.content
            div.content-block
              div.content-block__left
                div.subtitle(style="margin-bottom: 12px")
                  div Название
                div.title Верди СБ-1437 Шкаф 3-х дверный
                div.subtitle
                  div Источник
                    span.blue www.stolplit.ru
                div.subtitle
                  div Поставщик:
                    span.blue Столплит
                div.subtitle
                  div Артикул
                    span.blue 0201-2017-00009
                div.product
                  div.product-info
                    p Очень вместительный и стильный шкаф для одежды. Он отличается впечатляющей вместительностью и элегантностью дизайна. Такой шкаф может заменить собой гардеробную комнату. В нем есть отделение для вешалок, полки для одежды и белья, а также выдвижные ящики и зеркало. Качественная фурнитура дополняет шкаф. Его цвет  — «мара махагон».
                    p.description Характеристики:
                    div.description-param
                      p
                        span.width Ширина
                        span 1318 мм
                      p
                        span.width Высота
                        span 2190 мм
                      p
                        span.width Глубина
                        span 580 мм
                      p
                        span.width Вес (НЕТТО)
                        span 134.2 кг
                    p.description Цвет: Махагон
          div.content
            div.content-block-info
              ul.nav.nav-tabs
                li.nav-tabs__tab.active
                  a(href='#home', data-toggle='tab') Характеристики
                li.nav-tabs__tab
                  a(href='#profile', data-toggle='tab') О поставщике
                li.nav-tabs__tab
                  a(href='#messages', data-toggle='tab') Отзывы
              .tab-content
                #home.tab-pane.active
                  div.flex
                    div.flex-left
                      div.description.description-param
                        p
                          span.width Ширина
                          span 1318 мм
                        p
                          span.width Высота
                          span 2190 мм
                        p
                          span.width Глубина
                          span 580 мм
                        p
                          span.width Вес (НЕТТО)
                          span 134.2 кг
                      p.description Цвет: Махагон
                      div.description
                        p Основные части: ДСП, Пленка
                        p Верхняя панель/ Обвязка двери: ДСП, Пленка, Пластмасса АБС
                        p Задняя часть цоколя: ДСП
                        p Задняя панель: ДВП, Акриловая краска (печатный рисунок), Пленка
                        p Дверная панель: ДВП, Пленка
                        p Зеркальная часть: Стекло


                #profile.tab-pane 21231
                #messages.tab-pane ...



        div.flex-1
          div.content(style="padding-left: 60px; padding-right: 27px ")
            div.content-block
              div.content-block__left
                div.subtitle(style="margin-bottom: 12px")
                  div.status Позиция
                div.title Шкаф 3-х дверный
                  span.edit-button

                div.flex
                  div.flex-1
                    div.subtitle(style="margin-bottom: 12px")
                      div.status Наименование
                    div.name «Верди СБ-1437»
                      span.edit-button
                  div.flex-1
                    div.subtitle(style="margin-bottom: 12px")
                      div.status Поставщик
                    div.name ООО "Столплит"
                      span.edit-button

                div.form-add
                  form
                    div.line
                      div.subtitle(style="margin-bottom: 12px")
                        div.status.status--yellow Внутренний артикул
                      div.input-field
                        span.edit-button
                        input
                    div.line
                      div.subtitle(style="margin-bottom: 12px")
                        div.status.status--yellow Поставщик
                      div.input-field
                        span.edit-button
                        input
                    div.line
                      div.subtitle(style="margin-bottom: 12px")
                        div.status.status--yellow Описание
                      div.input-field
                        span.edit-button
                        textarea



          div.content(style="padding-top: 8px")
            div.content-block-info
              ul.nav.nav-tabs
                li.nav-tabs__tab.active
                  a(href='#home2', data-toggle='tab') Характеристики
                  span.status
                li.nav-tabs__tab
                  a(href='#profile2', data-toggle='tab') О поставщике
                  span.status.status--yellow
                li.nav-tabs__tab
                  a(href='#messages2', data-toggle='tab') Фотографии
                  span.status.status--red
              .tab-content
                #home2.tab-pane.active
                  div.flex
                    div.flex-left
                      div.description.description-param
                        p
                          span.width Ширина
                          span 1318 мм
                        p
                          span.width Высота
                          span 2190 мм
                        p
                          span.width Глубина
                          span 580 мм
                        p
                          span.width Вес (НЕТТО)
                          span 134.2 кг
                      p.description Цвет: Махагон
                      div.description
                        p Основные части: ДСП, Пленка
                        p Верхняя панель/ Обвязка двери: ДСП, Пленка, Пластмасса АБС
                        p Задняя часть цоколя: ДСП
                        p Задняя панель: ДВП, Акриловая краска (печатный рисунок), Пленка
                        p Дверная панель: ДВП, Пленка
                        p Зеркальная часть: Стекло

                      div.pulse-block.flex
                        div.pulse-block__button
                          button Назначить тикер
                        div.tiker   БД9345200012
                        div


                #profile2.tab-pane 21231
                #messages2.tab-pane ...



    //div.inner-toolbar.grey.marketer
      div.inner-toolbar__line
        div
          //div.breadcrumps
          //  a(href="/")  Главная
          //  a Сэмплер
          //  a Каталог товаров
          //h1.title Добавление товара
        div.actions-panel
          span.actions-panel__button.action Завершить
          span.actions-panel__button.green-button Сохранить


  block footer
    footer.inner-footer
      div.inner-footer__wrapper
        div.inner-footer__left
          div.main-page__footer-block
            a.bold.bold--no-border +7 843 111-11-11
            div.grey круглосуточно

          div.main-page__footer-block
            a.bold Реестры
            div.grey каталоги

          div.main-page__footer-block
            a.bold(href="#") Обучение и онлайн семинары
            div.grey узнайте расписание мероприятий

          div.main-page__footer-block
            a.bold(href="#") Участникам
            div.grey полезные материалы

          div.main-page__footer-block
            a.bold(href="#") Все контакты


        div.inner-footer__right
          div
            div.main-page__footer-block.social
              a.social__button.vk(href="#")
              a.social__button.telegram(href="#")
              a.social__button.phone(href="#")

              a.questions Частые вопросы

              //div.main-page__footer-block
                a.questions Частые вопросы







append scripts
  //script(src = 'js/script.js')

