extends layout/user-layout

block body

  block header
    div.header
      //div.header-wrapper
        a(href="/") Меню
        div.header-navigation
          div.section-name
            span.section-name__num 01
            span.section-name__name Личный кабинет
        div.header-profile
          div.header-profile__photo
            img(src="../../img/user.svg")
          span.header-profile__name Петр Анисимов
      header
        div.header-wrapper
          a(href="/") Меню
          div.header-navigation
            div.section-name
              span.section-name__num 01
              span.section-name__name Личный кабинет
          div.header-profile
            div.header-profile__photo
              img(src="../../img/user.svg")
            span.header-profile__name Петр Анисимов

  block toolbar
    div.nav
      nav
        div.toolbar-navigation
          div.tabs
            span Общие сведения
            span Файлы
            span.active Мои действия
            span Смена пароля
          div.toolbar-settings
            form
              input.search(type="search")
              button.filter-open(type="button") Фильтр
            div.toolbar-panel
              button.square.btn-col
              //button.square.btn-refresh
              //button.square.btn-delete
              //button.square.btn-edit
              //button.square.btn-add
        div.toolbar-navigation__filter
          div.set-date
            label Период:
            input.date(placeholder="дд.мм.гг")
            label -
            input.date(placeholder="дд.мм.гг")
          div.set-filter
            label Показать:
            label.checked
              input.checkbox(type="checkbox" checked)
              span Отредактированные
            label.checked
              input.checkbox(type="checkbox")
              span Созданные
            label.checked
              input.checkbox(type="checkbox")
              span Удаленные

  block content
    div.section.table-fix-header.table-part
      div.table
        table
          thead
            th
              div.sortable
                div Вид действия
                div.arrows
                  span.up
                  span.down
            th
              div.sortable
                div Дата действия
                div.arrows
                  span.up
                  span.down
            th
              div.sortable
                div Раздел
                div.arrows
                  span.up
                  span.down
            th
              div.sortable
                div Объект
                div.arrows
                  span.up
                  span.down




    div.section.section--border.table-part.scroll
      div.section-wrapper
        div.user
          div.table.table--noborder
            table
              //thead
                th
                  div.sortable
                    div Вид действия
                    div.arrows
                      span.up
                      span.down
                th
                  div.sortable
                    div Дата действия
                    div.arrows
                      span.up
                      span.down
                th
                  div.sortable
                    div Раздел
                    div.arrows
                      span.up
                      span.down
                th
                  div.sortable
                    div Объект
                    div.arrows
                      span.up
                      span.down
              tbody
                tr
                  td
                    span.icon
                    span.user-edit Редактирование
                  td
                    span 28.03.17
                    span.time 9:41
                  td Реестр операторов по обращению с отходами
                  td Карточка операторов по обращению с отходами
                tr
                  td
                    span.icon
                    span.user-edit Редактирование
                  td
                    span 28.03.17
                    span.time 9:41
                  td Реестр операторов по обращению с отходами
                  td Карточка операторов по обращению с отходами
                tr
                  td
                    span.icon
                    span.user-edit Редактирование
                  td
                    span 28.03.17
                    span.time 9:41
                  td Реестр операторов по обращению с отходами
                  td Карточка операторов по обращению с отходами
                tr
                  td
                    span.icon
                    span.user-edit Редактирование
                  td
                    span 28.03.17
                    span.time 9:41
                  td Реестр операторов по обращению с отходами
                  td Карточка операторов по обращению с отходами
                tr
                  td
                    span.icon
                    span.user-add Создание
                  td
                    span 28.03.17
                    span.time 9:41
                  td Реестр операторов по обращению с отходами
                  td Карточка операторов по обращению с отходами
                tr
                  td
                    span.icon
                    span.user-add Создание
                  td
                    span 28.03.17
                    span.time 9:41
                  td Реестр операторов по обращению с отходами
                  td Карточка операторов по обращению с отходами
                tr
                  td
                    span.icon
                    span.user-add Создание
                  td
                    span 28.03.17
                    span.time 9:41
                  td Реестр операторов по обращению с отходами
                  td Карточка операторов по обращению с отходами
                tr
                  td
                    span.icon
                    span.user-add Создание
                  td
                    span 28.03.17
                    span.time 9:41
                  td Реестр операторов по обращению с отходами
                  td Карточка операторов по обращению с отходами
                tr
                  td
                    span.icon
                    span.user-add Создание
                  td
                    span 28.03.17
                    span.time 9:41
                  td Реестр операторов по обращению с отходами
                  td Карточка операторов по обращению с отходами
                tr
                  td
                    span.icon
                    span.user-add Создание
                  td
                    span 28.03.17
                    span.time 9:41
                  td Реестр операторов по обращению с отходами
                  td Карточка операторов по обращению с отходами
                tr
                  td
                    span.icon
                    span.user-del Удаление
                  td
                    span 28.03.17
                    span.time 9:41
                  td Реестр операторов по обращению с отходами
                  td Карточка операторов по обращению с отходами
                tr
                  td
                    span.icon
                    span.user-del Удаление
                  td
                    span 28.03.17
                    span.time 9:41
                  td Реестр операторов по обращению с отходами
                  td Карточка операторов по обращению с отходами




      //Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus tempus placerat. Quisque et erat vitae velit vehicula cursus. Maecenas iaculis porta consequat. Mauris non felis euismod, semper nunc non, bibendum libero. Sed gravida vel sapien quis vulputate. Donec dui metus, tristique id dolor nec, iaculis imperdiet lorem. Aliquam ut suscipit urna, eu pellentesque libero. Donec ut mattis leo. Donec sit amet nisl at arcu consectetur pretium sed in velit. Integer malesuada neque eu tortor bibendum, vitae commodo mauris dignissim. Vestibulum a dictum massa, at fringilla tortor. Quisque vitae finibus magna, id fringilla turpis. Cras eget venenatis nibh.
      //
      //In dapibus turpis et mi faucibus commodo. Sed hendrerit libero tincidunt ante convallis facilisis. In pharetra consectetur nisi, vitae pharetra nisi aliquam vel. Maecenas vitae tellus vel quam convallis pulvinar. Integer nec enim dapibus, egestas lorem non, condimentum augue. Ut non nibh nec turpis rhoncus varius. Etiam pharetra tortor vitae consectetur pharetra. Nam ipsum lorem, malesuada nec erat eu, ultricies tincidunt augue. Vivamus mauris felis, porttitor sed blandit pellentesque, blandit at tortor. Phasellus enim tortor, mollis sed risus at, molestie porta leo. Aliquam augue ligula, bibendum sit amet sodales ut, vestibulum quis erat. Praesent auctor eros urna, ut finibus nisl volutpat nec. Integer et orci urna. Vivamus elit justo, tincidunt sit amet eros eget, cursus eleifend felis. Sed molestie massa id diam volutpat, sed scelerisque erat accumsan. Suspendisse elit justo, interdum et sapien id, ornare tincidunt dolor.
      //
      //Phasellus in nisi auctor, lacinia ante vitae, semper nibh. Nunc pulvinar tortor lobortis, blandit lorem sed, egestas ex. Etiam et ante vitae enim lobortis suscipit et in tellus. Proin eu ligula id sem blandit sodales non varius metus. Etiam at aliquet augue. Sed mollis erat vel posuere gravida. Integer vehicula pulvinar ipsum, ut aliquet mi varius sed. Suspendisse faucibus mollis iaculis. Phasellus id orci vestibulum, rutrum nisi mattis, pretium lacus. Nam egestas luctus sem non sollicitudin. Etiam dignissim, risus sed iaculis faucibus, metus elit sodales diam, id lobortis urna nisi et elit. Nullam justo purus, sodales eu aliquam vel, commodo vitae tellus. In hac habitasse platea dictumst. Ut eget est massa.

  block footer
    div.footer
      footer
        div.footer-wrapper
          div.left-navigation
            button.btn.btn-icon.download Скачать
          div.right-navigation
            div.page-nav
              label Показывать по:
              select
                option 10
                option 20
            div.pagination
              span.naviate.naviate--prev
              input(value='1')
              span из
              span 120
              span.naviate.naviate--next
        div.footer-wrapper.footer-wrapper--top-border
          div.left-navigation
            button.btn.btn-icon.delete Удалить
          div.right-navigation
            button.btn.cancel Отмена
            button.btn.save Сохранить




  //div#app
    block header
      div#header
        include includes/header
    block toolbar
      div#toolbar
        include includes/toolbar
    block content
      section#content
        //div
          include includes/tooltip

        div.content
          include includes/table

    div#footer
      block footer
        //p footer
        include includes/footer



append scripts
  //script(src = 'js/script.js')

